body{background-color:#4D2C5B; margin:0 }

h1{color:#FE8B88; font-size:72px; margin-top:70px; text-align:center; font-family: 'Poppins', sans-serif; font-weight: 600; height:100px; margin-bottom: 0;}
p{font-size:20px; margin-top:16px; text-align:center; font-family: 'Poppins', sans-serif; font-weight: 400; color:white; width:233px; word-wrap: break-word; margin:auto; height:65px;}

div{text-align:center; justify-content:center;}
img{width:auto; height:auto; margin:auto}